@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Oswald', sans-serif;
    transition: all 0.2s linear;
}
@keyframes fadeIn {
    0% {
        top: 50%;
        opacity: 0;
    }
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}
.header {
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
    background: #f7f1e3;
    box-shadow: 0 .5rem .3rem rgba(0,0,0,0.9);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.header .logo img {
    width: 70px;
    height: 70px;
}
.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: brown;
}
.header .navbar a:hover {
    color: #feca57;
    padding-right: 1rem;
}
.header .icons div {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    background: #ced6e0;
    color: brown;
    text-align: center;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 0.6rem;
}
.header .icons div:hover {
    background: #feca57;
    color: #fff;
    border-radius: 50%;
}
.header #menu-btn {
    display: none;
}
.header .search-form {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
    background: none;
    box-shadow: 0 .5rem 3rem #111;
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn .2s linear;
}
.header .search-form.active {
    display: flex;
}
.header .search-form input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: #ced6e0;
    font-size: 1.6rem;
    color: #777;
}
.header .search-form label {
    font-size: 2.2rem;
    cursor: pointer;
    margin: 0 1rem;
}
.header .search-form label:hover {
    color: #feca57;
}
.header .login-form {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    background: none;
    box-shadow: 0 .5rem 3rem #111;
    padding: 2rem;
    text-align: center;
    animation: fadeIn .2s linear;
    display: none;
}
.header .login-form.active {
      display: block;
}
.header .login-form h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
.header .login-form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: #c8d6e5;
    font-size: 1.6rem;
    color: #ffffff;
    margin: .7rem 0;
}
.header .login-form .flex {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.header .login-form label, p {
    font-size: 1.5rem;
    color: #777;
    cursor: pointer;
}
.header .login-form a {
    font-size: 1.5rem;
    color: #ff4757;
    margin-left: auto;
}
.header .login-form a:hover {
    color: #feca57;
    text-decoration: underline;
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: #111;
    color: #fff;
    border-radius: 5px;
    font-size: 1.7rem;
    cursor: pointer;
}
.btn:hover {
    background: #feca57;
    color: #000;
}
.header .btn {
    width: 100%;
}
.contact-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 35rem;
    background: whitesmoke;
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;
}
.contact-info.active {
    box-shadow: 0 0 0 10vw rgba(0,0,0,0.7);
    display: block;
}
#close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
}
#close-contact-info:hover {
    transform: rotate(90deg);
}
.contact-info .info {
    padding: 1rem 0;
}
.contact-info .info i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    background: #ced6e0;
    color: brown;
    text-align: center;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 0.6rem;
    margin-bottom: .5rem;
}
.contact-info .info i:hover {
    background: #000;
    color: #fff;
}
.contact-info .info h3 {
    font-size: 1.7rem;
    padding: 1rem 0;
}
.contact-info .info p {
    font-size: 1.5rem;
}
.contact-info .share {
    padding-top: 2rem;
    border-top: 2px solid #777;
    margin-top: 1rem;
}
.contact-info .share .fa-brands {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    background: black;
    color: #ced6e0;
    text-align: center;
    font-size: 2.7rem;
    cursor: pointer;
    margin: 0 0.6rem;
}
.contact-info .share .fa-brands:hover {
    background: #feca57;
    color: #fff;
    border-radius: 50%;
}

/*------------------*/

section {
    padding: 5rem 10%;
}
.home {
    padding: 0;
}
.home .slide {
    min-height: 60rem;
    display: flex;
    align-items: center;
    position: relative;
    background-position: center !important;
    background-size: cover !important;
}
.home .slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #fff, transparent);
}
.home .slide .content {
    width: 50rem;
    position: relative;
}
.home .slide .content h3 {
    font-size: 7rem;
}
.home .slide .content p {
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 2;
}
/*--------------------------------*/
.about .heading {
    margin-bottom: 3rem;
    font-size: 3rem;
    padding-left: 1rem;
    border-left: 1rem solid #feca57;
}
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    border-bottom: 3px solid #000;
}
.about .row .video {
    flex: 1 1 41rem;
}
.about .row .video video {
    width: 100%;
}
.about .row .content {
    flex: 1 1 41rem;
    margin-bottom: 10px;
}
.about .row .content h3 {
   font-size: 4rem;
}
.about .row .content p {
    font-size: 1.8rem;
    padding: 1rem 0;
    line-height: 2;
}
.about .box-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2.5rem;
    
}
.about .box-container .box {
    text-align: center;
    background: #6ab04c;
    padding: 4rem 2rem;
    
}
.about .box-container .box h3 {
    font-size: 3.2rem;
    color: whitesmoke;
}
.about .box-container .box p {
    font-size: 1.5rem;
    color: whitesmoke;
    padding-top: 0.5rem;
}

/*--------------------------*/

.services .heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    padding-right: 1rem;
    border-right: 1rem solid #feca57;
    text-align: end;
}
.services .box-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    
}
.services .box-container .box {
    text-align: center;
    padding: 3rem;
    background: #f7f1e3;
    box-shadow: 0 .5rem .9rem rgba(0,0,0,0.7);
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 1rem solid #777;
    border-right: 1rem solid #777;
    cursor: pointer;
}
.services .box-container .box:hover {
    transform: scale(1.5);
}
.services .box-container .box img {
    height: 7rem;
}

/*-----------------------*/

.projects {
    background: linear-gradient( brown,#f7f1e3 );
}

.projects .heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    padding-left: 1rem;
    border-left: 1rem solid #feca57;
    text-align: left;
    color: whitesmoke;
}
.projects .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}
.projects .box-container .box {
    cursor: initial;
}
.projects .box-container .box .image {
    height: 40rem;
    overflow: hidden;
}
.projects .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projects .box-container .box:hover .image img {
    transform: scale(1.1);
}
.projects .box-container .box .content {
    display: flex;
    background: #ffffff;
    justify-content: space-between;
}
.projects .box-container .box .content .info {
    padding: 0.5rem 2rem;
}
.projects .box-container .box .content .info h3 {
    font-size: 2rem;
    color: #000;
}
.projects .box-container .box .content .info p {
    font-size: 1.5rem;
}
.projects .box-container .box .content i {
    font-size: 3rem;
    width: 7.5rem;
    background: #feca57;
    color: #000;
    cursor: pointer;
    text-align: center;
    line-height: 6.5rem;
}
/*--------------------*/

.reviews {
    background: #38ada9;
}

.reviews .heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    padding-right: 1rem;
    border-bottom: 1rem solid #feca57;
    text-align: end;
    color: #fff;
}
.reviews .slide p {
    padding: 1.5rem;
    margin-bottom: 3rem;
    position: relative;
    background: #c8d6e5;
    font-size: 1.9rem;
    font-weight: lighter;
}
.reviews .slide p::before {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    background: #c8d6e5;
    transform: rotate(45deg);
}
.reviews .slide .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.reviews .slide .user img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}
.reviews .slide .user h3 {
    font-size: 2rem;
    color: whitesmoke;
}
.reviews .slide .user .stars {
    padding-top: 0.5rem;
}
.reviews .slide .user .stars i {
    font-size: 1.5rem;
    color: #6ab04c;
}

/*----------*/

.pricing .heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    padding-left: 1rem;
    border-left: 1rem solid #feca57;
    text-align: left;
}
.pricing .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.pricing .box-container .box {
    text-align: center;
    padding: 2rem 2rem;
    background: #f7f1e3;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    box-shadow: 0 .9rem .6rem rgba(0,0,0,0.7);
}
.pricing .box-container .box img {
    height: 10rem;
    width: 10rem;
    line-height: 12rem;
    object-fit: cover;
    margin-bottom: 2rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    border-left: 3px solid #000;
    border-top: 3px solid #000;
    background: #feca57;
}
.pricing .box-container .box h3 {
    font-size: 2.3rem;
    font-weight: 200;
}
.pricing .box-container .box .price {
    padding: 1rem 1.2rem;
    font-size: 4rem;
    color: #a6adb5;
    margin-top: 10px;
    padding-bottom: 1rem;
    border-bottom: 0.4rem solid #feca57;
}
.pricing .box-container .box .price span {
    font-size: 2rem;
    
}
.pricing .box-container .box .list {
    padding: 1rem 0;
}
.pricing .box-container .box .list p {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #353b48;
}

/*--------------------*/
.contacts {
    background: #000;
}

.contacts .heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    padding-right: 1rem;
    border-right: 1rem solid #feca57;
    text-align: end;
    color: whitesmoke;
}
.contacts .row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.contacts .row .map {
    flex: 1 1 41rem;
    width: 100%;
    
}
.contacts .row form {
    flex: 1 1 41rem;
    background: #fff;
    padding: 2rem;
}
.contacts .row form h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
}
.contacts .row form .box {
    margin: .7rem 0;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid #000;
    font-size: 1.6rem;
    color: #777;
}
.contacts .row form .box:focus {
    border-color: #feca57;
}
.contacts .row form textarea {
    resize: none;
    height: 15rem;
}
/*--------------------*/
.blogs {
    background: #ced6e0;
}

.blogs .heading {
    margin-bottom: 3rem;
    font-size: 4rem;
    padding-left: 1rem;
    border-left: 1rem solid #feca57;
    text-align: left;
}
.blogs .slide {
    width: 35rem;
    text-align: center;
}
.blogs .slide .image {
    height: 40rem;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: -3rem;
}
.blogs .slide .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogs .slide:hover .image img {
    transform: scale(1.1);
}
.blogs .slide .content {
    padding: 2rem;
    padding-top: 5rem;
    background: #fff;
}
.blogs .slide .content h3 {
    font-size: 2.5rem;
}
.blogs .slide .content p {
    font-size: 1.5rem;
    padding: 1rem 0;
}
/*------------------------*/

.logo-container .slide {
    width: 35rem;
    text-align: center;
}
.logo-container .slide img {
    height: 10rem;
}

/*----------*/
.footer {
    text-align: center;
}
.footer .links .btn {
    margin: 0.5rem;
    margin-bottom: 2rem;
}
.footer .credits {
    font-size: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #000;
}
































































































































/*----------------------------*/

@media (max-width:1200px){
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 3rem 5%;
    }
}
@media (max-width: 991px){
    html {
        font-size: 55%;
    }
    section {
        padding: 3rem 2rem;
    }
}
@media (max-width: 768px){
    .header #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        background: #f7f1e3;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
        display: block;
        margin: 2rem;
    }
    .header .search-form {
        width: 100%;
    }
    .home .slide {
        min-height: 30rem;
    }
    .home .slide .content {
        width: 100%;
    }
    .home .slide .content h3 {
        font-size: 3.5rem;
    }
    .about .row .content h3 {
        font-size: 3rem;
    }
    .about .row .content p {
        font-size: 1.4rem;
    }
    .about .box-container .box h3 {
        font-size: 2.2rem;
    }
    .services .box-container .box:hover {
        transform: scale(1.1);
    }
    
}
@media (max-width: 450px){
    html {
        font-size: 50%;
    }
}